html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: 0.03em;
}
.container {
  max-width: 63em;
  height: 70px;
  margin: 0 auto;
  padding: 0 15px;
}
/* Header */
.top-navigation {
  background-color: #ffffff;
  border-bottom: 1px solid #b3b3b3;
  position: fixed;
  width: 100%;
}
.top-navigation .logo {
  float: left;
  width: 2.5em;
  height: 2.5em;
  margin-top: 1em;
}
.top-navigation .nav-links {
  float: right;
  margin-top: 1.7em;
}
.top-navigation .nav-links li {
  display: inline-block;
  margin-left: 1.3em;
}
.top-navigation .nav-links a {
  color: #b3b3b3;
  font-weight: 300;
  font-size: 1.04em;
  text-decoration: none;
}
.top-navigation .nav-links a.active {
  color: #333333;
  font-weight: 500;
}
.top-navigation .nav-links a:hover {
  cursor: pointer;
  color: #333333;
}
/* Masthead intro with background image */
