*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  max-width: 63em;
  margin: 0 auto;
  padding: 0 1em;
}
/* Header */
.top-navigation {
  background-color: #ffffff;
  border-bottom: 1px solid #b3b3b3;
  border-top: 1px solid #b3b3b3;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  z-index: 9999;
}
.top-navigation .logo {
  float: left;
  width: 2.5em;
  height: 2.5em;
  margin-top: 1em;
}
.top-navigation .nav-links {
  float: right;
  margin-top: 1.7em;
}
.top-navigation .nav-links li {
  display: inline-block;
  letter-spacing: 0.03em;
  margin-left: 1.3em;
}
.top-navigation .nav-links a {
  color: #838994;
  font-size: 1.04em;
  font-weight: 400;
  text-decoration: none;
}
.top-navigation .nav-links a.active {
  color: #333333;
  font-weight: 500;
}
.top-navigation .nav-links a:hover {
  cursor: pointer;
  color: #333333;
}
/* Masthead section with background image */
.introduction {
  background: url(../images/first-background.jpg) 0 bottom no-repeat;
  background-size: cover;
  margin-top: 70px;
  color: #ffffff;
  min-height: 41.6em;
  padding-left: 1em;
  text-align: center;
}
.introduction h1 {
  padding: 4.2em 0 0 0;
  margin: 0;
  font-weight: 300;
  font-size: 50px;
}
.introduction p {
  font-size: 25px;
  margin: 0.8em 0;
  padding-bottom: 1em;
}
.introduction a.btn {
  background-color: #f15a29;
  color: #ffffff;
  border-radius: 5px;
  font-family: "Lucida Grande", sans-serif;
  font-size: 18px;
  text-decoration: none;
  padding: 1em;
  margin: 0.2em;
}
.introduction a.btn:hover {
  background-color: #d9400e;
}
.introduction a.watch {
  background-color: #6f97b5;
}
.introduction a.watch:hover {
  background-color: #527e9f;
}
/* Main content */
.content-main {
  overflow: auto;
  padding: 6em 0 9em 0;
  text-align: center;
}
.content-main h1 {
  font-weight: 300;
  font-size: 44px;
}
.content-main figure {
  float: left;
  margin: 1em 3.3em;
}
.content-main figure img {
  width: 8em;
}
.content-main figure figcaption {
  text-align: center;
  font-size: 1.6em;
  font-weight: 400;
}
/* Footer content */
.content-footer {
  clear: both;
  text-align: center;
}
.content-footer .container {
  border-top: 1px solid #b3b3b3;
}
